body
  background-color white
  font-family Tahoma
  font-size 12px

.files
  width 200px
  margin 0 auto

.file
  border 1px solid #333

.meta
  padding 8px
  background-color #eee
  border-bottom 1px solid #333

.data
  padding 8px

.file + .file
  margin-top 12px




