extends ../layouts/default.jade


block main

  .blogs
    .banner
      h1
        | Cool Kid Luke
      .edge

    blog-articles.content
      blog-article(ng-repeat="article in articles", article="article")


block templates
  include ../components/blog/plain/blog-articles.jade

